/* your styles go here */
body{
  margin-top: 60px;
  font-size: 0.875rem;
  /*font-family: 'Muli', sans-serif;*/
}
a{outline: none;}
/*td img{width:100% !important;}*/
td.avatar-sm img{width:30px; height: 30px;}
/*p{padding: 0px; margin: 0;}*/
.emp-list-pic img{width: 100% !important;}
.table-responsive { display: table; }
.table th{border-top:none;}
.top-bot{margin-top: 20px; margin-bottom: 20px;}
/*--------------------------------------------*/
/***profile modal******************************/
/*--------------------------------------------*/

.modal-dialog {
  position: relative;
  width: auto;
  max-width: 600px;
  margin: 10px;
}
.modal-sm {
  max-width: 300px;
}
.modal-lg {
  max-width: 900px;
}
@media (min-width: 768px) {
  .modal-dialog {
    margin: 30px auto;
  }
}
@media (min-width: 320px) {
  .modal-sm {
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 620px) {
  .modal-dialog {
    margin-right: auto;
    margin-left: auto;
  }
  .modal-lg {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (min-width: 920px) {
  .modal-lg {
    margin-right: auto;
    margin-left: auto;
  }
}

.modal-profile {
  width: 100%;
  background: #fff;
 /* border: 1px solid #ccc;*/
  display: inline-block;
  height: 100%;
  border-radius: 4px;
  position: relative;
  margin: 0;padding: 0;

}

.top-section {
  /*background: #ACC0E9;*/
  height: 100px !important;
  border-radius: 0px 0px 0 0;
  background: url("http://lorempixel.com/200/300/");
  /*opacity:0.2;*/
  background-size:cover;
  overflow:hidden;

}

.top-section .modal-profile-close-btn{
  width:24px;
  height:24px;
  top:1.01rem;
  right:12px;
  position:absolute;
}

.modal-profile .avatar {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.avatar img {
  border-radius: 50%;
  border: 4px solid #fff;
  /*box-shadow: 0 3px 9px rgba(172, 192, 233, 0.5);*/
  box-shadow: 0 3px 9px rgba(172, 192, 233, 0.5);
}

.modal-profile .bottom-section {
  text-align: center;
  padding: 60px 30px 20px 30px;
}

.bottom-section h5 {}

.bottom-section {
  font-size: 11px;
}
.modal-profile .social-media{
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;

}
.social-media a{margin: 0 8px;padding-bottom:10px;}

.modal-header{
  border-bottom:none;
  background: #ACC0E9;
  border-radius: 4px 4px 0 0;

  }
  .modal-content{
    border-radius: 4px 4px 4px 4px;
    overflow:hidden;
    background-size: cover;

  }
  .modal-body{
    border-radius: 0 0 4px 4px;
    padding:0;

  }
/****end profile-modal*************************/
/***card profile popover image**/

.popover{
  margin: 0;
  padding: 0;
  width:20rem;
  max-width: 276px;

}
.popover-content{
  padding:0 !important;
  margin: 0 !important;
  height: 100%;
}
.profile-popover {
     padding:0;
     margin: 0;
     height: 250px;
     /*width: 20rem;
     max-width: 20rem;*/

}

.profile-top{
  height:80px;
  /*background-color: #fff002;*/
  margin: 0;
  padding:0;
  width: 100%;
  border-radius: 4px 4px 0 0;
  position: relative;
  border:none;
}
.profile-popover-front{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  padding: 5px 0;

  /*background: url("http://lorempixel.com/400/400/");*/
  /*background-color: rgba(80, 227,228. 0.8);*/
}
.profile-popover-header{
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justfy-content:space-between;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 1rem;
  color:#fff00;
  /*background-color: transparent;*/


}
.profile-popover-header span{
  font-size: 11px;
  color:#ccc;
  padding: 4px;
}

.profile-top .profile-popover-title{
  font-size:0.65rem;
  /*font-weight: 600;*/
  position: absolute;
  /*font-size: 10px !important;*/
  top:50%;
  right:1rem;
  color:#fff;
  border-radius: 15px;
  border:1px solid #ccc;
  /*background: #fff;*/
  padding: 4px 6px;


}
.off-circle {
  margin-top: 4px;
	width: 10px;
	height: 10px;
	background: red;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.on-circle {
  margin-top: 4px;
	width: 10px;
	height: 10px;
	background: green;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.profile-popover-avatar{
  position: absolute;
  top:40px;
  padding:0 0 0 1rem;

}

.profile-popover-detail h4{
  font-size: 14px;
  padding: 0;
  margin: 0;
  color:#666;
  /*font-weight: 600;*/
}

.profile-popover-detail .title{
  font-size: 0.75rem;
  color: #666;
  margin: 0;
  padding: 0;
}
.profile-popover-detail .sect{
  font-size:0.65rem;
  color:#999;
  /*border:1px solid #ddd;
  width: auto;*/
  border-radius: 15px;
  /*display: block;*/
}
.card-text span{
  font-size: 0.7rem;
  color: #999;
  display: block;
}

/*.popover-content{
    margin: 1px 30px 1px 50px;
}*/
/***card profile popover ennd ***/
/**add button circle **/
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
/***end btn circle ***/
/*******button round ****/
.btn{font-size: 0.87rem; padding: 0.4rem 1rem;}
.btn-round-lg{
border-radius: 22.5px;
}
.btn-round{
border-radius: 20px;
}
.btn-round-sm{
border-radius: 15px;
}
.btn-round-xs{
border-radius: 11px;
padding-left: 10px;
padding-right: 10px;
}

/****button round end ***/

/*******************************/
/*** data table////////////////*/
/*******************************/
.dt-toolbar {
    display: block;
    position: relative;
    padding: 6px 7px 1px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
    background: #fafafa;
}
.dataTables_filter {
    float: left;
    width: 100%;
}
.dataTables_filter .input-group-addon+.form-control {
    float: left;
}
.dt-toolbar>:last-child .DTTT, .dt-toolbar>:last-child .dataTables_filter>:only-child, .dt-toolbar>:last-child .dataTables_length, .dt-toolbar>:last-child .pagination {
    float: right;
}

table th {
  font-size: 0.9rem;
  font-weight: 400;
 }

table td {
  font-size: 0.87rem;
  font-weight: 300; }

table.table thead th {
  border-top: none; }

table.table th,
table.table td {
  /*padding-top: 1rem;
  padding-bottom: 1rem;*/
 }

table.table a {
  margin: 0;
  color: #212529; }

table.table .label-table {
  margin: 0;
  padding: 0;
  line-height: 15px;
  height: 15px; }

table.table .btn-table {
  margin: 0px 1px;
  padding: 3px 7px; }
  table.table .btn-table .fa {
    font-size: 11px; }

table.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
  -webkit-transition: 0.5s;
  transition: 0.5s; }

table .th-lg {
  min-width: 9rem; }

table.table-sm th,
table.table-sm td {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem; }



/******** end data table ******/
